<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.geeklub.smartlib"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".GlobalContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <!--登陆-->
        <activity
            android:name=".module.login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBarStyle">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>


        <!--注册-->
        <activity
            android:name=".module.register.RegisterActivity"
            android:label="@string/register"
            android:parentActivityName=".module.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBarStyle">

        </activity>

        <!--设置-->
        <activity
            android:name=".module.settings.SettingsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ToolBarStyle">
        </activity>


        <!--密码修改-->

        <activity
            android:name=".module.settings.PasswordModifyActivity"
            android:parentActivityName=".module.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ToolBarStyle">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity"/>

        </activity>

        <!--Main-->

        <activity
            android:name=".module.MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.ActionBarStyle">

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".module.search.SearchResultActivity"/>

        </activity>

        <!--搜索-->
        <activity
            android:name=".module.search.SearchResultActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.ToolBarStyle">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>


        </activity>


        <!--详细-->

        <activity
            android:name=".module.detail.BookDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ToolBarStyle">

        </activity>

        <!--反馈-->

        <activity
            android:name="com.avos.avoscloud.feedback.ThreadActivity">
        </activity>


    </application>

</manifest>
