<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.geeklub.smartlib">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".utils.GlobalContext"
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">

    <activity
        android:launchMode="singleTop"
        android:configChanges="screenSize|orientation"
        android:name=".MainActivity"
        android:label="@string/app_name">

      <meta-data
          android:name="android.app.default_searchable"
          android:value=".search.SearchResultsActivity"/>


      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>


    </activity>


    <activity
        android:screenOrientation="portrait"
        android:name=".login.LoginActivity">

      <!--<intent-filter>-->
      <!--<action android:name="android.intent.action.MAIN"/>-->
      <!--<category android:name="android.intent.category.LAUNCHER"/>-->
      <!--</intent-filter>-->

    </activity>

    <activity android:name=".register.RegisterActivity">

    </activity>


    <activity
        android:configChanges="orientation|screenSize"
        android:launchMode="singleTop"
        android:name=".search.SearchResultsActivity">

      <meta-data android:name="android.app.searchable"
          android:resource="@xml/searchable"/>


      <intent-filter>
        <action android:name="android.intent.action.SEARCH"/>
      </intent-filter>


    </activity>


    <activity
        android:screenOrientation="portrait"
        android:name=".detail.BookDetailActivity"
        android:theme="@style/AppTheme.ToolBarStyle">

    </activity>

    <activity
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.ToolBarStyle"
        android:parentActivityName=".MainActivity"
        android:screenOrientation="portrait"
        android:name=".SettingsActivity">

      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="org.geeklub.smartlib.MainActivity"/>

    </activity>

    <activity
        android:parentActivityName=".SettingsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.ToolBarStyle"
        android:name=".ModifyPasswordActivity">

      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="org.geeklub.smartlib.SettingsActivity"/>

    </activity>
  </application>

</manifest>
